.car-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  height : 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 240px; 
  background: #000;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display : block;        
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

.nav-btn.left {
  left: 8px;
}

.nav-btn.right {
  right: 8px;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}


.card-body {
  padding: 14px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.meta {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.price {
  font-size: 18px;
  font-weight: 700;
}

.emi {
  font-size: 13px;
  color: #666;
}

.offer-link {
  color: #1976d2;
  font-size: 14px;
  margin-bottom: auto;
  cursor: pointer;
}

.car-btn {
  margin-top: 12px;
  background: #e5391c;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.car-btn:hover {
  background: #cc2f17;
}